@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align:center;
  font-size: medium;
  line-height: 1.4em;
  background-color: #141414;
  left: 40%;
  margin-top: 5%;
  box-shadow: 5px 5px 20px rgb(255, 255, 255);
}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 90%;
  vertical-align: top;
  opacity: 0.85;
  height:300px ;  
  border-radius: 10px;
  margin-bottom: 10px;
  /* box-shadow: 0 0 10px rgb(39, 152, 197); */
  position: relative;

  
}
.snip1336 figcaption {
  width: 100%;
  background-color: #141414;
  padding: 25px;
  position: relative;

}
.snip1336 figcaption:before {
  position: absolute;
  content: ''; 
  bottom: 100%;
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0px 0 0 200px;
  border-color: transparent transparent transparent #141414;
  
}
.snip1336 figcaption a {
  padding: 5px;
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 0.7em;
  text-transform: uppercase;
  margin: 10px 0;
  display: inline-block;
  opacity: 0.65;
  width: 47%;
  text-align: center;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
}
.snip1336 figcaption a:hover {
  opacity: 1;
}
.snip1336 .profile {
  border-radius: 50%;
  position: absolute;
  bottom: 100%;
  left: 25px;
  z-index: 1;
  max-width: 90px;
  opacity: 1;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.snip1336 h2 {
  /* margin: 0 0 5px; */
  font-weight: 300;
  text-align: left;
  margin-top: -20px;
  margin-left: -20px;
}
.snip1336 h2 span {
  display: block;
  font-size: 0.8em;
  color: #fcfcfc;
}
.snip1336 p {
  margin: 0 0 10px;
  font-size: 0.9em;
  letter-spacing: 1px;
  opacity: 0.8;
  
}
body{
  
    background-image: url(back-3.jpg);
    
}

#img{
  
  width: 50%;
  margin: 5 5 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;

}

#img:hover{
  cursor: pointer;
}


#submit{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  
}


.label{
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
   /* border-style: solid;
  border-color: #ff00d4;  */
}

.label:hover{
  cursor: pointer;
}



/* border-color: #ff00d4; 
  border-radius: 10px; */