@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,600);
.snip1336 {
  font-family: 'Roboto', Arial, sans-serif;
  position: relative;
  position: absolute;
  overflow: hidden;
  margin: 10px;
  min-width: 400px;
  max-width: 60%;
  max-height: 70%;
  min-height: 60%;
  width: 100%;
  color: #ffffff;
  text-align:center;
  font-size: medium;
  line-height: 1.4em;
  /* background-color: #141414; */
  left: 20%;
  margin-top: 7%;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);

background-image: linear-gradient(to right bottom,#544eafbd,#22aeb8);


}
.snip1336 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.snip1336 img {
  max-width: 50%;
  position: relative;

  vertical-align: top;
  opacity: 0.85;
  height:300px ;  
  left: -200px;
  border-radius: 10px;
  margin-top: 20px;
  top: 40px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px rgb(39, 152, 197);
  position: relative;

  cursor: pointer;



}
.snip1336 img:hover {
  transform: scale(0.9, 0.9);
  box-shadow: 5px 5px 30px 15px rgba(0,0,0,0.25), 
    -5px -5px 30px 15px rgba(0,0,0,0.22);
}

.snip1336 figcaption {
  width: 40%;
  /* background-color: #141414; */
  padding: 25px;
  left: 55%;
  top: 20%;
  position: absolute;

 

}

.snip1336 h2 { 
  margin: 0 0 5px;  
  text-align: left;
  margin-top: 50px;
 }
 .snip1336 h2 span {
  display: block;
  font-size: 1.2em;
  padding: 5px 5px;
  color: #fcfcfc;
} 
.snip1336 p {
  margin: 0 0 10px;
  font-size: 1.4em;
  letter-spacing: 1px;
  margin-top: 40px;
  opacity: 0.8;
  
}
body{
  
  /* background-image: url(back-3.jpg); */
  background-color: #ece0e8;
  

}










/* border-style: solid;
border-color: #ff00d4; 
border-radius: 10px;  */
