<html>
    <head>
        <link rel="stylesheet" href="static/css2.css"> 
    </head>
<body>
    <div class="Main-box">
        <div class="Caption-box">
          <figure class="snip1336">
            <div class="image box">
  
        </form>
        </div>
       
                <img src="{{url_for('static', filename='files.jpg')}}" alt="image" id="output" >

                <figcaption>
                    <h2>Predicted<span>caption:</span></h2>
                    <div id="prediction"><p>       {{final}}      </p></div>
                </figcaption>
            </div>
      <!-- {{final}} -->
    </figure>
    </div>
    </div>

</body>
</html>